[Unit]
Description=Streaming service daemon (temp name)
Requires=gstd.service
After=network.target


[Service]
User=bob
Group=bob
WorkingDirectory=/home/bob/git/livestreaming-stuff/api/
ExecStart=/home/bob/.local/bin/pipenv run gunicorn --config gunicorn_conf.py app

[Install]
WantedBy=multi-user.target